<p>Product Detail</p>
@if(product) {
<div>
  <h2>{{ product.title }}</h2>
  <img [src]="product.image" width="100px" />
  
</div>
<countdown [config]="config" />
<form [formGroup]="bidForm" (ngSubmit)="handleSubmit()">
  <input class="form-control w-25" type="number" formControlName="price" />
    
  <button type="submit" class="btn btn-dark w-25">Bid</button>
</form>
<p>bidPriceMax : {{ product.bidPriceMax }}</p>
@for (bid of product.bids; track bid) {
<p>{{ bid.user.username }} - {{ bid.createdAt | date : "dd/MM/yyyy" }} - {{ bid.price }}</p>
} }
